
<!-- Toolbar -->
<div class="toolbar" role="banner">
</div>
<nav class="navbar navbar-dark bg-primary"> 
  <a class="navbar-brand" href="#">Ejemplo de Crud</a>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-8 mt-5">
        <ul class="list-group">
          <li *ngFor="let cliente of clienteArray" class="list-group-item list-group-item-action" (click)="openForEdit(cliente)"
          [class.active]="cliente == selectedCliente"
          >

            <table class="table"> 

                      <tr>
                         <th>id</th>
                         <th>Nombres</th>
                         <th>Apellidos</th>
                         <th>Editar</th>
                      </tr>
                      <tr>
                        <td><span class="badge badge-primary">{{cliente.id}}</span> </td>
                        <td>{{cliente.nombres}}</td>
                        <td>{{cliente.apellidos}}</td>
                      </tr>
                      <tr>
            </table>
          </li>
        </ul>
  
      </div>
      <div class="col-md-4">
              <div class="card mt-5">
          <div class="card-body">
            <div class="card-title">
              <p>Insertar Nuevo Cliente</p>
            </div>
            <div class="form-group">
              <input type="text" [(ngModel)]="selectedCliente.nombres" placeholder="Nombres">
            </div>
            <div class="form-group">
              <input type="text" [(ngModel)]="selectedCliente.apellidos" placeholder="Apellidos">
            </div>
            <button (click)="addOrEdit()" class="btn btn-primary">Submit</button>
            <button *ngIf="selectedCliente.id !==0" class="btn btn-danger" (click)="delete()">Delete</button>
          </div>
        </div>
      </div>
    </div>
    
  </div>
